* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

.cal-div {
  background-color: rgb(163, 184, 140);
  height: 60vh;
  width: 22vw;
}

.cal-main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.display {
  margin-top: 2vh;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2vh;
}


.all-btn {
  height: 8.5vh;
  width: 6vw;
}