* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

.input-div {
  background-color: green;
  /* display: flex;
  justify-content: center;
  margin-top: 2vh; */
}

.list-div {
  border: 1px solid black;
  height: 60vh;
  width: 50vw;
}

.list-heading {
  /* background-color: green; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5vh;
}

.row {
  display: flex;
  flex-direction: row;
}


.main-data {
  margin: 6vh;
  border: 1px solid black;
  height: 35vh;
  width: 45vw;
  overflow-y: scroll;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.total-val {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}