* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}


.button-div {
  border: 1px solid black;
  height: 50vh;
  width: 17vw;

  margin-top: 4rem;
  margin-left: 1.5em;

  text-align: center;
}

#all-button {
  height: 73px;
  width: 73px;

  font-size: 30px;
}