html, body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.input-btn {
  display: flex;
  margin-top: 10vh;
  justify-content: center;

  gap: 1vh;
}

.form-control {
  width: 30vw;
  height: 5vh;
}

.btn {
  width: 6vw;
  height: 5vh;
}

.bottom-div {
  margin-top: 45vh;
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.humidity-div, .description-div, .temperature-div, .visibility-div, .pressure-div {
  margin-top: 1vh;
}

.childA {

  box-shadow: 0vh 0vh 2vh 0.3vh rgba(0, 0, 0, 0.3);
  background-color: rgba(165, 156, 156, 0.218);
  color: white;
  border-radius: 2vh;
  height: 14vh;
  width: 16vw
}

.humidity-div-1-A {
  margin-top: 1vh;

  font-family: "Noto Sans", serif;
  font-size: 150%;
  font-weight: 100;
  font-style: normal;
}

.main-div {
  margin-top: 10vh;
  margin-left: 5vw;
  height: 80vh;
  width: 90vw;
  border-radius: 1vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

.summer {
  background-image: url("images/summer.jpg");
}

.clear_sky {
  background-image: url("images/clear_sky.jpg");
}

.overcast_cloud {
  background-image: url("images/overcast_cloud.jpg");
}

.broken_cloud {
  background-image: url("images/broken_cloud.jpg");
}

.scattered_cloud {
  background-image: url("images/scattered_cloud.jpg");
}

.shower_rain {
  background-image: url("images/shower_rain.jpg");
}

.mist {
  background-image: url("images/mist.jpg");
}

.haze {
  background-image: url("images/haze.jpg");
}

.fog {
  background-image: url("images/fog.jpg");
}

.light_snow {
  background-image: url("images/light_snow.jpg");
}

.few_cloud {
  background-image: url("images/few_cloud.jpg");
}

.snow {
  background-image: url("images/snow.jpg");
}

.moderate_rain {
  background-image: url("images/moderate_rain.jpg");
}

.light_rain {
  background-image: url("images/light_rain.jpg");
}

.smoke {
  background-image: url("images/smoke.jpg");
}