.home-div {
  /* background-color: rgba(255, 0, 0, 0.837); */
  /* background-image: linear-gradient(90deg, rgb(255, 122, 173), rgb(255, 255, 107)); */
  width: 100%;
  height: auto;
  /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); */
  /* border-radius: 2%; */
  overflow: hidden;
}

.home-sub-1 {
  display: flex;
  flex-wrap: wrap;
}

.left-div {
  /* background-color: green; */
  width: 50%;
  height: 50%;
}

.left-sub-div {
  text-align: center;
  margin-top: 20%;
}

.lines {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 200%;
  font-style: normal;
}

.digital-media {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  font-size: 150%;
  gap: 4%;
}

.right-div {
  /* background-color: rgb(92, 182, 92); */
  width: 50%;
  height: 50%;
}

.right-sub-div {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.image {
  border-radius: 0 10% 0 10%;
}

.home-bottom-div {
  margin-top:10%;
  position: relative;
  border-radius: 2%;
  width: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  top: 40%;
  text-align: center;
  color: white;

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 450%;
}

.overlay-2 {
  position: absolute;
  top: 53%;
  width: 100%;
  color: white;
  text-align: center;

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 120%;
}