.project-div {
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7%;
  width: 100%;
  height: auto;
  /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 2%; */
  margin-top: 5%;
}