.nav-div {
  width: 100%;
  display: flex;
  position: fixed;
  color: white;
}

.name-div {
  width: 50%;
  padding-left: 3%;
  font-size: 150%;
}

.nav {
  width: 50%;
  padding-left: 29%;
  align-items: center;
}

.navbar-brand {
  margin-left: 10%;
}

.navbar-brand:hover {
  font-weight: 600;
}