html, body {
  height: 100%;
}

.parent-div {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: red;
  height: 100vh;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  background-color: aqua;
  width: 50%;
  height: 50vh;
}